AESHiringManagement/AESHiringManagement/Service References/AESDataService/DataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DataService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7513/DataService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7513/DataService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7513/DataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AESDataService" />
      <xsd:import schemaLocation="http://localhost:7513/DataService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDataService_getJobs_InputMessage">
    <wsdl:part name="parameters" element="tns:getJobs" />
  </wsdl:message>
  <wsdl:message name="IDataService_getJobs_OutputMessage">
    <wsdl:part name="parameters" element="tns:getJobsResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_getStoreInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:getStoreInfo" />
  </wsdl:message>
  <wsdl:message name="IDataService_getStoreInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:getStoreInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_getQuestions_InputMessage">
    <wsdl:part name="parameters" element="tns:getQuestions" />
  </wsdl:message>
  <wsdl:message name="IDataService_getQuestions_OutputMessage">
    <wsdl:part name="parameters" element="tns:getQuestionsResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_getStoreLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:getStoreLocation" />
  </wsdl:message>
  <wsdl:message name="IDataService_getStoreLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:getStoreLocationResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_getApplicantId_InputMessage">
    <wsdl:part name="parameters" element="tns:getApplicantId" />
  </wsdl:message>
  <wsdl:message name="IDataService_getApplicantId_OutputMessage">
    <wsdl:part name="parameters" element="tns:getApplicantIdResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_authenticateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:authenticateUser" />
  </wsdl:message>
  <wsdl:message name="IDataService_authenticateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:authenticateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_authenticateManager_InputMessage">
    <wsdl:part name="parameters" element="tns:authenticateManager" />
  </wsdl:message>
  <wsdl:message name="IDataService_authenticateManager_OutputMessage">
    <wsdl:part name="parameters" element="tns:authenticateManagerResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_getJobsAppliedFor_InputMessage">
    <wsdl:part name="parameters" element="tns:getJobsAppliedFor" />
  </wsdl:message>
  <wsdl:message name="IDataService_getJobsAppliedFor_OutputMessage">
    <wsdl:part name="parameters" element="tns:getJobsAppliedForResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_getPersonalInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:getPersonalInfo" />
  </wsdl:message>
  <wsdl:message name="IDataService_getPersonalInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPersonalInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_getAvailability_InputMessage">
    <wsdl:part name="parameters" element="tns:getAvailability" />
  </wsdl:message>
  <wsdl:message name="IDataService_getAvailability_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAvailabilityResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_getEducation_InputMessage">
    <wsdl:part name="parameters" element="tns:getEducation" />
  </wsdl:message>
  <wsdl:message name="IDataService_getEducation_OutputMessage">
    <wsdl:part name="parameters" element="tns:getEducationResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_getReferences_InputMessage">
    <wsdl:part name="parameters" element="tns:getReferences" />
  </wsdl:message>
  <wsdl:message name="IDataService_getReferences_OutputMessage">
    <wsdl:part name="parameters" element="tns:getReferencesResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_getJobHistories_InputMessage">
    <wsdl:part name="parameters" element="tns:getJobHistories" />
  </wsdl:message>
  <wsdl:message name="IDataService_getJobHistories_OutputMessage">
    <wsdl:part name="parameters" element="tns:getJobHistoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_getESignature_InputMessage">
    <wsdl:part name="parameters" element="tns:getESignature" />
  </wsdl:message>
  <wsdl:message name="IDataService_getESignature_OutputMessage">
    <wsdl:part name="parameters" element="tns:getESignatureResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_getApplication_InputMessage">
    <wsdl:part name="parameters" element="tns:getApplication" />
  </wsdl:message>
  <wsdl:message name="IDataService_getApplication_OutputMessage">
    <wsdl:part name="parameters" element="tns:getApplicationResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_updatePersonalInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:updatePersonalInfo" />
  </wsdl:message>
  <wsdl:message name="IDataService_updatePersonalInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:updatePersonalInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_updateJobIds_InputMessage">
    <wsdl:part name="parameters" element="tns:updateJobIds" />
  </wsdl:message>
  <wsdl:message name="IDataService_updateJobIds_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateJobIdsResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_updateAvailability_InputMessage">
    <wsdl:part name="parameters" element="tns:updateAvailability" />
  </wsdl:message>
  <wsdl:message name="IDataService_updateAvailability_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateAvailabilityResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_updateEducations_InputMessage">
    <wsdl:part name="parameters" element="tns:updateEducations" />
  </wsdl:message>
  <wsdl:message name="IDataService_updateEducations_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateEducationsResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_updateJobHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:updateJobHistory" />
  </wsdl:message>
  <wsdl:message name="IDataService_updateJobHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateJobHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_updateReferences_InputMessage">
    <wsdl:part name="parameters" element="tns:updateReferences" />
  </wsdl:message>
  <wsdl:message name="IDataService_updateReferences_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateReferencesResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_updateElectronicSig_InputMessage">
    <wsdl:part name="parameters" element="tns:updateElectronicSig" />
  </wsdl:message>
  <wsdl:message name="IDataService_updateElectronicSig_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateElectronicSigResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_updatePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:updatePassword" />
  </wsdl:message>
  <wsdl:message name="IDataService_updatePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:updatePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_deleteJobIds_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteJobIds" />
  </wsdl:message>
  <wsdl:message name="IDataService_deleteJobIds_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteJobIdsResponse" />
  </wsdl:message>
  <wsdl:portType name="IDataService">
    <wsdl:operation name="getJobs">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/getJobs" message="tns:IDataService_getJobs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/getJobsResponse" message="tns:IDataService_getJobs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getStoreInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/getStoreInfo" message="tns:IDataService_getStoreInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/getStoreInfoResponse" message="tns:IDataService_getStoreInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getQuestions">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/getQuestions" message="tns:IDataService_getQuestions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/getQuestionsResponse" message="tns:IDataService_getQuestions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getStoreLocation">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/getStoreLocation" message="tns:IDataService_getStoreLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/getStoreLocationResponse" message="tns:IDataService_getStoreLocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getApplicantId">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/getApplicantId" message="tns:IDataService_getApplicantId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/getApplicantIdResponse" message="tns:IDataService_getApplicantId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="authenticateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/authenticateUser" message="tns:IDataService_authenticateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/authenticateUserResponse" message="tns:IDataService_authenticateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="authenticateManager">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/authenticateManager" message="tns:IDataService_authenticateManager_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/authenticateManagerResponse" message="tns:IDataService_authenticateManager_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getJobsAppliedFor">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/getJobsAppliedFor" message="tns:IDataService_getJobsAppliedFor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/getJobsAppliedForResponse" message="tns:IDataService_getJobsAppliedFor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPersonalInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/getPersonalInfo" message="tns:IDataService_getPersonalInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/getPersonalInfoResponse" message="tns:IDataService_getPersonalInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAvailability">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/getAvailability" message="tns:IDataService_getAvailability_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/getAvailabilityResponse" message="tns:IDataService_getAvailability_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getEducation">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/getEducation" message="tns:IDataService_getEducation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/getEducationResponse" message="tns:IDataService_getEducation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getReferences">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/getReferences" message="tns:IDataService_getReferences_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/getReferencesResponse" message="tns:IDataService_getReferences_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getJobHistories">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/getJobHistories" message="tns:IDataService_getJobHistories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/getJobHistoriesResponse" message="tns:IDataService_getJobHistories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getESignature">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/getESignature" message="tns:IDataService_getESignature_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/getESignatureResponse" message="tns:IDataService_getESignature_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getApplication">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/getApplication" message="tns:IDataService_getApplication_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/getApplicationResponse" message="tns:IDataService_getApplication_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updatePersonalInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/updatePersonalInfo" message="tns:IDataService_updatePersonalInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/updatePersonalInfoResponse" message="tns:IDataService_updatePersonalInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateJobIds">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/updateJobIds" message="tns:IDataService_updateJobIds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/updateJobIdsResponse" message="tns:IDataService_updateJobIds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateAvailability">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/updateAvailability" message="tns:IDataService_updateAvailability_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/updateAvailabilityResponse" message="tns:IDataService_updateAvailability_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateEducations">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/updateEducations" message="tns:IDataService_updateEducations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/updateEducationsResponse" message="tns:IDataService_updateEducations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateJobHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/updateJobHistory" message="tns:IDataService_updateJobHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/updateJobHistoryResponse" message="tns:IDataService_updateJobHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateReferences">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/updateReferences" message="tns:IDataService_updateReferences_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/updateReferencesResponse" message="tns:IDataService_updateReferences_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateElectronicSig">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/updateElectronicSig" message="tns:IDataService_updateElectronicSig_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/updateElectronicSigResponse" message="tns:IDataService_updateElectronicSig_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updatePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/updatePassword" message="tns:IDataService_updatePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/updatePasswordResponse" message="tns:IDataService_updatePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteJobIds">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/deleteJobIds" message="tns:IDataService_deleteJobIds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/deleteJobIdsResponse" message="tns:IDataService_deleteJobIds_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDataService" type="tns:IDataService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getJobs">
      <soap:operation soapAction="http://tempuri.org/IDataService/getJobs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStoreInfo">
      <soap:operation soapAction="http://tempuri.org/IDataService/getStoreInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getQuestions">
      <soap:operation soapAction="http://tempuri.org/IDataService/getQuestions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStoreLocation">
      <soap:operation soapAction="http://tempuri.org/IDataService/getStoreLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getApplicantId">
      <soap:operation soapAction="http://tempuri.org/IDataService/getApplicantId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="authenticateUser">
      <soap:operation soapAction="http://tempuri.org/IDataService/authenticateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="authenticateManager">
      <soap:operation soapAction="http://tempuri.org/IDataService/authenticateManager" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getJobsAppliedFor">
      <soap:operation soapAction="http://tempuri.org/IDataService/getJobsAppliedFor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPersonalInfo">
      <soap:operation soapAction="http://tempuri.org/IDataService/getPersonalInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAvailability">
      <soap:operation soapAction="http://tempuri.org/IDataService/getAvailability" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEducation">
      <soap:operation soapAction="http://tempuri.org/IDataService/getEducation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getReferences">
      <soap:operation soapAction="http://tempuri.org/IDataService/getReferences" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getJobHistories">
      <soap:operation soapAction="http://tempuri.org/IDataService/getJobHistories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getESignature">
      <soap:operation soapAction="http://tempuri.org/IDataService/getESignature" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getApplication">
      <soap:operation soapAction="http://tempuri.org/IDataService/getApplication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatePersonalInfo">
      <soap:operation soapAction="http://tempuri.org/IDataService/updatePersonalInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateJobIds">
      <soap:operation soapAction="http://tempuri.org/IDataService/updateJobIds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateAvailability">
      <soap:operation soapAction="http://tempuri.org/IDataService/updateAvailability" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateEducations">
      <soap:operation soapAction="http://tempuri.org/IDataService/updateEducations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateJobHistory">
      <soap:operation soapAction="http://tempuri.org/IDataService/updateJobHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateReferences">
      <soap:operation soapAction="http://tempuri.org/IDataService/updateReferences" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateElectronicSig">
      <soap:operation soapAction="http://tempuri.org/IDataService/updateElectronicSig" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatePassword">
      <soap:operation soapAction="http://tempuri.org/IDataService/updatePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteJobIds">
      <soap:operation soapAction="http://tempuri.org/IDataService/deleteJobIds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataService">
    <wsdl:port name="BasicHttpBinding_IDataService" binding="tns:BasicHttpBinding_IDataService">
      <soap:address location="http://localhost:7513/DataService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>