AESHiringManagement/AESHiringManagement/Service References/AESDataService/DataService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7513/DataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AESDataService" />
  <xs:import schemaLocation="http://localhost:7513/DataService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="getJobs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="storeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getJobsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AESDataService" minOccurs="0" name="getJobsResult" nillable="true" type="q1:ArrayOfJob" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStoreInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="storeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStoreInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AESDataService" minOccurs="0" name="getStoreInfoResult" nillable="true" type="q2:Store" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getQuestions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="positionIds" nillable="true" type="q3:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getQuestionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AESDataService" minOccurs="0" name="getQuestionsResult" nillable="true" type="q4:ArrayOfQuestion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStoreLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jobId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStoreLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getStoreLocationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getApplicantId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ssn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getApplicantIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getApplicantIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="authenticateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ssn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="authenticateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authenticateUserResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="authenticateManager">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="authenticateManagerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authenticateManagerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getJobsAppliedFor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="applicantId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getJobsAppliedForResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getJobsAppliedForResult" nillable="true" type="q5:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPersonalInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="applicantId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPersonalInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AESDataService" minOccurs="0" name="getPersonalInfoResult" nillable="true" type="q6:PersonalInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAvailability">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="applicantId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAvailabilityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/AESDataService" minOccurs="0" name="getAvailabilityResult" nillable="true" type="q7:Availability" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEducation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="applicantId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEducationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/AESDataService" minOccurs="0" name="getEducationResult" nillable="true" type="q8:ArrayOfEducation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getReferences">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="applicantId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getReferencesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/AESDataService" minOccurs="0" name="getReferencesResult" nillable="true" type="q9:ArrayOfReference" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getJobHistories">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="applicantId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getJobHistoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/AESDataService" minOccurs="0" name="getJobHistoriesResult" nillable="true" type="q10:ArrayOfJobHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getESignature">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="applicantId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getESignatureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/AESDataService" minOccurs="0" name="getESignatureResult" nillable="true" type="q11:ElectronicSig" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getApplication">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="applicantId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getApplicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/AESDataService" minOccurs="0" name="getApplicationResult" nillable="true" type="q12:ApplicantApp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updatePersonalInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/AESDataService" minOccurs="0" name="personalInfo" nillable="true" type="q13:PersonalInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updatePersonalInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updatePersonalInfoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateJobIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="applicantId" type="xs:int" />
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ids" nillable="true" type="q14:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateJobIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateJobIdsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateAvailability">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/AESDataService" minOccurs="0" name="availability" nillable="true" type="q15:Availability" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateAvailabilityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateAvailabilityResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateEducations">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/AESDataService" minOccurs="0" name="educations" nillable="true" type="q16:ArrayOfEducation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateEducationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateEducationsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateJobHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/AESDataService" minOccurs="0" name="jobHistory" nillable="true" type="q17:ArrayOfJobHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateJobHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateJobHistoryResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateReferences">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/AESDataService" minOccurs="0" name="references" nillable="true" type="q18:ArrayOfReference" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateReferencesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateReferencesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateElectronicSig">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/AESDataService" minOccurs="0" name="electronicSig" nillable="true" type="q19:ElectronicSig" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateElectronicSigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateElectronicSigResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updatePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/AESDataService" minOccurs="0" name="auth" nillable="true" type="q20:ApplicantAuth" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updatePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updatePasswordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteJobIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="applicantId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteJobIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteJobIdsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>